.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #e6e6e6;
    overflow: auto;
    padding: 1rem;
}
.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
}
.msg-box {
    display: flex;
    flex-direction: column;
    background: #3f5d3b;
    padding: 1rem 1rem 0 1rem;
    border-radius: 0 20px 20px 0;
    width: 50%;
    max-width: 80%;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}

.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}

.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: #2671ff;
    float: right;
}
.msg-self .user-img {
    margin: 0 0 10px 10px;
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}

.user-title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}